@import "../../../variabels";
.item {
  box-sizing: border-box;
  position: relative;
  border: 2px solid $gray;
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 170px;
  padding: 8px;
  margin: 16px;
  justify-content: space-between;

  > h4 {
    margin: 0 5px 5px 0;
    font-size: 16px;
  }

  .temp {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    > img {
      width: 48px;
      animation: move 3s alternate ease-in-out infinite;
    }
    > span {
      margin: 0;
      margin-left: 16px !important;
      font-size: 34px;
    }
  }
}

.x {
  margin: 3px;
  position: absolute;
  background: transparent;
  right: 2px;
  top: 2px;
  border: 0;
  font-style: normal;

  > i {
    font-size: 30px;
    opacity: 0.3;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.info span {
  font-size: 14px;
}
